#hidden
{
    display: none;
}
#show{
    display: inline;
}
#droit{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    vertical-align: center; 
}
.tableau_fonction{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px 50px 25px 20px;
    border:solid 1px;
    justify-content: center;
}
#selection{
    display: flex !important;
    width : 50px auto;
    margin-top: 10px;
}
#s{
    width: 150px auto;
    height: 50px;
}
option, select{
    font-size: 20px;
}
#check_box{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px auto !important;
    /*max-height: 70px;*/
    font-size: 20px;
    /*border: solid 1px;*/
    margin-top: 25px;
}
#radio_fonction{
    display: flex;
    margin: 10px 5px 30px 5px !important;

}
#Image_tableau{
    max-height: 80px;
    width: 120px auto;
}