/*GENERAL*/

#wrapper
{
    display: flex;
    flex-direction: column;
}

#containerActi
{
    display: flex;
    flex-direction: row;
    /*margin-left: 80px;*/
    padding-left: 80px;
    padding-right: 100px;
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    /*background-color: blue;*/
}

/*IMAGE*/

#containerImg
{
    margin-top: 60px;
}

img
{
    width: 600px;
    height: 400px;
}

/*DESCRIPTION*/

#containerDsc
{
    margin-left: 60px;
    width: 60%;
    min-width: 10%;
}

#containerDsc p
{
    background-color: #F4C3C3;
    margin-bottom: 0px;
    margin-top: 0px;
}

#description
{
    height: 300px;
    padding: 20px;
}

#prix
{
    height: 20px;
    padding: 20px;
}

#bouton
{
    float: right;
}


/*TEXTE*/

#containerPhotos a
{
    color: red;
    font-weight: bold;
    text-decoration: none;
}

hr
{
    height: 1px;
	margin-left: 450px;
    margin-right: 450px;
	font-size: 60px;
	line-height: 1;
    color: #F00;
    background-color: #F00;
}

#inscrit{
    text-align: center;
}

#inscription
{
    color: black;
    float: right;
    text-decoration: none;
}

/*PHOTOS*/
#containerPhotos
{
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

#containerPhotos img
{
    width: 200px;
    height: 100px;
}

#photosDate
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#photosDate img
{
    margin-right: 10px;
    margin-bottom: 10px;
}