#wrapper
{
    display: flex;
}

#containerActi
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
    margin-top: 20px;
    width: 100%;
    /*background-color: blue;*/
    justify-content: space-between;
}

#containerDsc
{
    width: 50%;
    min-width: 10%;
}

#containerImg
{
    margin-top: 60px;
}

img
{
    width: 600px;
    height: 400px;
}

#containerDsc p
{
    background-color: #F4C3C3;
    height: 400px;
}

strong
{
    color: red;
}

hr
{
    height: 1px;
	margin: 40px 50px 40px;
	font-size: 60px;
	line-height: 1;
    color: #F00;
    background-color: #F00;
}