/*GENERAL*/

.Hide
{
	display: none;
}

@font-face
{
    font-family: "DinRegular";
    src: url('../Font/DINR____.ttf');
}
@font-face {
	font-family: "DinRegular";
	font-style: italic;
	src: url('../Font/DINRegularItalicAlt.ttf');
}
@font-face {
	font-family: "DinRegular";
	font-weight: bold;
	src: url('../Font/DINBold.ttf');
}

body
{
    font-family: "DinRegular", "Comic Sans MS";    
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#wrapper
{
    flex: 1 0 auto;
}

/*HEADER*/

#containerG, #containerD
{
    display: flex;
}

/*image*/
#logoHeader
{
    width: 80px;
    height: auto;
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#avatar
{
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-right: 10px;
}

/*h1*/
#titreHeader
{
    line-height: 80px;
    margin: 0;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #B01A2E;
    width: 100%;
    height: 80px;
}

#infos
{
    display: flex;
    margin : 0; 
    padding-right: 10px;
}

#infos p
{
    line-height: 48px;
}

header a
{
    display: block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    line-height: 70px;
    transition: 0.5s;       
    transition-property: background-color;     
}

header a:hover, footer a:hover
{
    background-color: #FF8094;
    transition: 0.5s;
    transition-property: background-color;  
}

/*FOOTER*/
footer
{
    /*position: fixed;*/
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #B01A2E;
}


footer a
{
    float: right;
    padding-left: 5px;
    padding-right: 5px;    
    color: black;
    text-decoration: none;
    transition: 0.5s; 
    line-height: 40px;
    transition-property: background-color;      
}

/*NAV*/

nav
{
    background-color: #CC7A90;
    margin: 0;
    height: 30px;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li
{
    margin: 0px;
    list-style: none;
    display: block;
    float: left;   
    line-height: 30px;  
    padding-left : 20px;
}

nav a
{
    text-decoration: none;
    border-bottom: 2px solid;
    border-bottom-color: #CC7A90;
    color: black;    
}

nav a:hover
{
    border-bottom: 2px solid;
    border-bottom-color: #B01A2E;
    transition: 0.5s ease-in-out;
    transition-property: border-bottom-color;
}