RewriteEngine on
RewriteRule header.php /BWDEEB/erreur.php [L]
RewriteRule footer.php /BWDEEB/erreur.php [L]
#RewriteRule detailActi.php/(.+)$ detailActi.php?id=$1 [L]
#RewriteRule commentaire-photo.php/([0-9]+)$ commentaire-photo.php?id=$1[L]
#RewriteRule commentaire-photo.php/([0-9]+)/(.+)$ commentaire-photo.php?id=$1&vote=$2 [L]
RewriteRule produit.php/(.+)$ produit.php?id=$1 [L]


#RewriteRule API.php/(.+)/(.+)$ API.php?users=$1&id=$2 [L]
#RewriteRule API.php/(.+)$ API.php?users=$1 [L]



ErrorDocument 404 /BWDEEB/erreur.php

