body
{
    margin: 0px;
}

#logoHeader
{
    width: 80px;
    height: auto;
    float: left;
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

#titreHeader
{
    line-height: 80px;
    margin: 0;
    
}

header
{
    background-color: #B01A2E;
    width: 100%;
    height: 80px;
}

footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #B01A2E;
}

header a, footer a
{
    float: right;
    padding: 5px;
    color: black;
    text-decoration: none;
    line-height: 70px;
}

a:hover
{
    background-color: #FF8094;
}
/*
h2{
    font: 30px;
	text-shadow: 0px 0px 9px #333;
}*/


nav
{
    background-color: #CC7A90;
    margin: 0;
}

nav ul
{
    margin: 0;
    list-style: none;
}

nav li
{
    margin: 0px;
    list-style: none;
    display: inline;
    padding-left : 5px;
    padding-right : 5px;    
}