body
{
    margin: 0px;
}

#logoHeader
{
    width: 80px;
    height: auto;
    float: left;
    margin-right: 30px;
}

#titreHeader
{
    line-height: 50px;
    margin: 0;
    
}

header, footer
{
    background-color: #B01A2E;
    width: 100%;
}